@font-face {
    font-family: 'avenirregular';
    src: url('avenir_roman-webfont.woff2') format('woff2'),
         url('avenir_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(/static/page_bg.avif);
    font-family: 'avenirregular', arial;
}

h2 {
    font-size: 26px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: none;
}

.nav {
    overflow: hidden;
    background-color: #333;
    width: 86%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.main-div {
    padding: 30px;
    width: 86%;
    margin: auto;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    overflow-y:auto;
    scrollbar-width: auto;
    scrollbar-color: #fff transparent;
}


.outer-div {
    border: 5px solid;
    float: left;
    text-align: left;
    vertical-align: top;
    width: 16.5%;
    margin: 25px;
    height: auto;
    background-color: #ffffff;
}

.double {
    width: 35%;
}

.inner-div {
    float: left;
    padding: 12.5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    vertical-align: top;
    width: 85%;
    background-color: #ffffff;
    border: 0px solid;
}

.inner-div p {
    font-size: 20px;
    text-decoration-line: underline;
    text-align: center;
    padding-top: -10px;
}

.application{
    border-color: #61b467;
}

.blockchain{
    border-color: #618eb4;
    float: left;
}

.advanced{
    border-color: #7761b4;
}

.tag-title {
  text-align: center;
  padding: 0px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'avenirregular', Arial;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container img {
width: 21px;
height: 21px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .attribute {
  background-color: #61b467;
}

.container input:checked ~ .application {
  background-color: #61b467;
}

.container input:checked ~ .blockchain {
  background-color: #618eb4;
}

.container input:checked ~ .advanced {
  background-color: #7761b4;
}

button{
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: center;
    clear: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical: bottom;
}
