h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 17px;
    text-align: left;
}

ul {
    color: #ffffff;
    font-size: 17px;
}

.main-div {
    padding: 30px;
    width: 86%;
    margin: 0 px;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    overflow-y:auto;
    overflow-x:auto;
    scrollbar-width: auto;
    scrollbar-color: #ffffff transparent;
}

.row-div {
    margin: 0px;
    position: relative;
    padding: 0 px;
    text-align: left;
    float: left;
    vertical-align: top;
    width: 100%;
    height: 800px;
}

.col-div {
    border-radius: 10px;
    position: absolute;
    padding: 20 px;
    text-align: left;
    float: left;
    vertical-align: top;
    width: 45%;
    height: 800px;
    margin: 10px;
    overflow-y:auto;
    scrollbar-width: auto;
    scrollbar-color: #ffffff transparent;
}
