@font-face {
    font-family: 'avenirregular';
    src: url('avenir_roman-webfont.woff2') format('woff2'),
         url('avenir_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(/static/page_bg.avif);
    font-family: 'avenirregular', arial;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 17px;
    text-align: left;
}

ul {
    color: #ffffff;
    font-size: 17px;
}

code {
  color: #ffc66d;
  background-color: #3c3f41;
  padding: 2px;
}

mark {
    background-color: #a1ec7f;
    color: black;
}

.main-div {
    position: relative;
    padding: 30px;
    width: 86%;
    margin: 0 px;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}

.col-div {
    position:absolute;
    top: 30px;
    left: 30px;
    padding: 20px 0px 0px 0px;
    text-align: left;
    width: 200px;
    height: 800px;
    margin: 10px;
}

.title-div {
    position:absolute;
    left:0px;
    border-radius: 10px;
    padding: 0 px;
    text-align: center;
    margin: 10px;
    width: 100%;
}

.link-div {
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 50px;
    padding: 2px;
    background-color: black;
    text: white;
    border: 1px solid white;
    border-radius: 5px;
}

.analysis-div {
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 50px;
    border: 1px solid #f6dd6e;
    border-radius: 5px;
    padding: 2px;
    background-color: black;
    color: #f6dd6e;
}

.rec-div {
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    padding: 2px;
    background-color: black;
    border: 1px solid #4c90ad;
    color: #4c90ad;
}

.description-div {
    width: 550px;
    position:absolute;
    top: 0px;
    left: 1200px;
    text-align: center;
    margin: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 25px;
    background-color: black;
    color: #ffffff;
}

#cc {
    top: 0px;
    left:300px;
    position:absolute
}

#cmc {
    top: 50px;
    left: 450px;
    position:absolute
}

#kraken {
    top: 0px;
    left: 600px;
    position:absolute
}

#cer {
    top: 50px;
    left: 750px;
    position:absolute
}

#cryptowisser {
    top: 0px;
    left: 900px;
    position:absolute
}


#tags {
    top: 200px;
    left: 300px;
    position:absolute
}

#project {
    height: 40px;
    top: 250px;
    left: 450px;
    position:absolute
}

#speed {
    top: 200px;
    left: 600px;
    position:absolute
}

#security {
    top: 250px;
    left: 750px;
    position:absolute
}

#energy {
    top: 200px;
    left: 900px;
    position:absolute
}

#matrix {
    left: 600px;
    top: 450px;
    position:absolute;
    height: 25px;
    width: 200px;
    text-align: center;
    margin: 50px;
    border: 1px solid #85cc65;
    border-radius: 5px;
    padding: 2px;
    background-color: black;
    color: #85cc65;
}

#nn {
    left: 600px;
    top: 650px;
    position:absolute;
}

#in {
    left: 300px;
    top: 650px;
    position:absolute;
}

#out {
    left: 900px;
    top: 650px;
    position:absolute;
}